header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 100px;
    background-color: black;
    color: white;   
}

.colorList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

